listen_addresses = ['127.0.0.1:53', '[::1]:53']
server_names = ['NextDNS-8485f5', 'dns0', 'controld-block-malware-ad', 'adguard-dns-doh', 'adfilter-adl-ipv6', 'quad9-dnscrypt-ip4-filter-pri', 'controld-block-malware-ad-social']

forwarding_rules = '/etc/dnscrypt-proxy/forwarding-rules.txt'

bootstrap_resolvers = ['9.9.9.9:53', '8.8.8.8:53', '1.1.1.1:53']

[query_log]
  file = '/var/log/dnscrypt-proxy/query.log'

[nx_log]
  file = '/var/log/dnscrypt-proxy/nx.log'

[sources]
  [sources.'public-resolvers']
  url = 'https://download.dnscrypt.info/resolvers-list/v2/public-resolvers.md'
  cache_file = '/var/cache/dnscrypt-proxy/public-resolvers.md'
  minisign_key = 'RWQf6LRCGA9i53mlYecO4IzT51TGPpvWucNSCh1CBM0QTaLn73Y7GFO3'
  refresh_delay = 72
  prefix = ''

[static]
  [static.'NextDNS-8485f5']
  stamp = 'sdns://AgEAAAAAAAAAAAAOZG5zLm5leHRkbnMuaW8HLzg0ODVmNQ'

